<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products - FURNISHNOW</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/product.css}">
    <link rel="icon" th:href="@{/icons/icon1.jpg}" type="image/x-icon" id="favicon">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>

<!-- Include the header fragment -->
<!--<div th:replace="../../fragments/header/header :: header"></div>-->

<div class="container">
    <div class="navbar">
        <div class="logo">
            <a th:href="@{/home}"> <img th:src="@{/logos/logo9.png}" width="125">
            </a>
        </div>
        <nav>
            <ul id="MenuItems">
                <li><a th:href="@{/home}">Home</a></li>
                <li><a th:href="@{/products}">Products</a></li>
                <li><a th:href="@{/about}">About</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
                <li><a th:href="@{/login}">Login</a></li>
            </ul>
        </nav>
        <img th:src="@{/icons/cart.png}" width="30px" height="30px">
        <img th:src="@{/icons/menu.png}" class="menu-icon" onclick="menutoggle()">
    </div>
</div>


<!--Single Product-->

<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img th:src="@{${product.getImageUrl()}}" width="100%" id="ProductImg">
            <div class="small-img-row">
                <div class="small-img-col">
                    <img th:src="@{/products/chair/chair16.jpg}" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img th:src="@{/products/armchair/chair3.jpg}" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img th:src="@{/products/armchair/chair28.jpg}" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img th:src="@{/products/chair/chair19.jpg}" width="100%" class="small-img">
                </div>
            </div>
        </div>
        <div class="col-2">
            <p th:text="'Home / '+${product.getCategory()}"></p>
            <h1 th:text="${product.getName()}"></h1>
            <h4 th:text="${product.getPrice()} + '$'"></h4>
            <input type="number" value="1">
            <a th:href="@{/home}" class="btn">Add To Cart</a>
            <h3>Product Details <i class="fa fa-indent"></i></h3>
            <br>
            <p th:text="
            'Elevate your lifestyle with modern elegance and become happier with' + ${product.getDescription()} +'.
            This stylish piece combines contemporary aesthetics with exceptional functionality,
             enhancing your home with both form and comfort.' ">
            </p>
        </div>
    </div>
</div>

<!-- title -->
<div class="small-container">
    <div class="row row-2">
        <h2>Related Products</h2>
        <p>View more</p>
    </div>
</div>

<!--4 products-->
<div class="small-container similar-products">
    <div class="row">
        <div class="col-4">
            <img th:src="@{/products/chair/chair1.jpg}">
            <h4>Beige old style chair</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
                <i class="fa fa-star-half-alt"></i>
            </div>
            <p>$150.00</p>
        </div>
        <div class="col-4">
            <img th:src="@{/products/sofa/sofa19.jpg}">
            <h4>Light silver armchair with foot placer</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
            </div>
            <p>$480.50</p>
        </div>
        <div class="col-4">
            <img th:src="@{/products/chair/chair3.jpg}">
            <h4>Brown wooden soft chair</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
                <i class="fa fa-star-half-alt"></i>
            </div>
            <p>$250.00</p>
        </div>
        <div class="col-4">
            <img th:src="@{/products/sofa/sofa6.jpg}">
            <h4>Dark brown 2 place sofa with foot placer</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
            </div>
            <p>$550.00</p>
        </div>
    </div>
</div>

<!--footer-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download Application for android and ios mobile phones</p>
                <div class="app-logo">
                    <img th:src="@{/logos/play-store.png}">
                    <img th:src="@{/logos/app-store.png}">
                </div>
            </div>
            <div class="footer-col-2">
                <img th:src="@{/logos/logo1.jpg}">
                <p>Bringing Comfort and Style to Your Home</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <ul>
                    <h3>Follow Us</h3>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Twitter</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">All rights reserved FURNISHNOW Georgia © 2024-2025 </p>
    </div>
</div>


<!--js for toggle menu-->
<script>
    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";

    function menutoggle() {
        if (MenuItems.style.maxHeight == "0px") {
            MenuItems.style.maxHeight = "200px";
        } else {
            MenuItems.style.maxHeight = "0px";
        }
    }
</script>


<!--js for product gallery-->
<script>
    var ProductImg = document.getElementById("ProductImg");
    var SmallImg = document.getElementsByClassName("small-img");

    for (var i = 0; i < SmallImg.length; i++) {
        SmallImg[i].onclick = function () {
            ProductImg.src = this.src;
        }
    }
    // SmallImg[0].onClick = function(){
    //     ProductImg.src = SmallImg[0].src;
    // }
    // SmallImg[1].onClick = function(){
    //     ProductImg.src = SmallImg[1].src;
    // }
    // SmallImg[2].onClick = function(){
    //     ProductImg.src = SmallImg[2].src;
    // }
    // SmallImg[3].onClick = function(){
    //     ProductImg.src = SmallImg[3].src;
    // }
</script>
<!-- Include the footer fragment -->
<!--<div th:replace="../../fragments/footer/footer :: footer"></div>-->


</body>

</html>