<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Furniture Store</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/icons/icon1.jpg}" type="image/x-icon" id="favicon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
</head>

<body>
<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a th:href="@{/home}"> <img th:src="@{/logos/logo9.png}" width="125">
                </a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a th:href="@{/home}">Home</a></li>
                    <li><a th:href="@{/products}">Products</a></li>
                    <li><a th:href="@{/about}">About</a></li>
                    <li><a th:href="@{/contact}">Contact</a></li>
                    <li><a th:href="@{/login}">Login</a></li>
                </ul>
            </nav>
            <img th:src="@{/icons/cart.png}" width="30px" height="30px">
            <img th:src="@{/icons/menu.png}" class="menu-icon" onclick="menutoggle()">
        </div>
        <div class="row">
            <div class="col-2">
                <h1>"Unleash Your Style, <br> Amplify Your Space"</h1>
                <p>
                    Welcome to our Online Furniture Store, where comfort meets style.
                    <br>Explore our wide range of modern furniture designed to enhance
                    <br>the beauty and functionality of your home.
                </p>
                <a href="" class="btn">Explore Now &#8594;</a>
            </div>
            <div class="col-2">
                <img th:src="@{/images/image16.jpg}">
            </div>
        </div>
    </div>
</div>

<!--footer-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download Application for android and ios mobile phones</p>
                <div class="app-logo">
                    <img th:src="@{/logos/play-store.png}">
                    <img th:src="@{/logos/app-store.png}">
                </div>
            </div>
            <div class="footer-col-2">
                <img th:src="@{logos/logo1.jpg}">
                <p>Bringing Comfort and Style to Your Home</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <ul>
                    <h3>Follow Us</h3>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Twitter</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">All rights reserved FURNISHNOW Georgia © 2024-2025 </p>
    </div>
</div>


<!--js for toggle menu-->
<script>
    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";

    function menutoggle() {
        if (MenuItems.style.maxHeight == "0px") {
            MenuItems.style.maxHeight = "200px";
        } else {
            MenuItems.style.maxHeight = "0px";
        }
    }
</script>

</body>

</html>