<!--footer-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download Application for android and ios mobile phones</p>
                <div class="app-logo">
                    <img th:src="@{/logos/play-store.png}">
                    <img th:src="@{/logos/app-store.png}">
                </div>
            </div>
            <div class="footer-col-2">
                <img th:src="@{logos/logo1.jpg}">
                <p>Bringing Comfort and Style to Your Home</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <ul>
                    <h3>Follow Us</h3>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Twitter</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">All rights reserved FURNISHNOW Georgia © 2024-2025 </p>
    </div>
</div>